body{background:#f2f3f8;font-family:'Poppins', sans-serif;font-size:13px;font-weight:300;  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
.container{max-width:100%;}
#before-content-div.login_form{display:table;height:100%;background:url(../images/login-bg.jpg) no-repeat;color:#74788d;top:0;background-color:#fff;}
.login_form .from_login{display:table-cell;vertical-align:middle;}
.login_form .from_login .login_form_inner{display:inline-block;width:100%;max-width:460px;}
.logo-icon{margin:0 0 4rem;}
.logo-icon img{max-height:55px;}
.login_form h1{font-size:18px;font-weight:500;color:#595d6e;margin-top:.5rem;margin-bottom:3rem;}
.login_form .form-control{height:46px;border:none;padding-left:1.5rem;padding-right:1.5rem;margin-top:.5rem;background:rgba(235, 237, 242, 0.4);font-size:13px;}
.form-group-remember input, .form-group-remember label{vertical-align:middle;}
.form-group-remember label{margin-bottom:0;}
.login_form .form-group-submit .btn-primary{height:50px;padding-left:2.5rem;padding-right:2.5rem;-webkit-box-shadow:0px 4px 16px 0px rgba(61, 148, 251, 0.15);box-shadow:0px 4px 16px 0px rgba(61, 148, 251, 0.15);font-size:13px;font-weight:400;background-color:#3d94fb;border-color:#3d94fb;}
.login_form .form-group-submit .btn-primary:hover, .login_form .form-group-submit .btn-primary:focus{-webkit-box-shadow:0px 9px 16px 0px rgba(61, 148, 251, 0.25);box-shadow: 0px 9px 16px 0px rgba(61, 148, 251, 0.25);background-color:#187ffa;border-color:#0b78fa;}
.rm-checkbox{display:inline-block;position:relative;padding-left:30px;margin-bottom:10px;text-align:left;cursor:pointer;-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
.rm-checkbox > input{position:absolute;z-index:-1;opacity:0;top:3px;left:3px;}
.rm-checkbox > span{border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:none;position:absolute;top:1px;left:0;height:18px;width:18px;}
.rm-checkbox > span{border:1px solid #d1d7e2;}
.rm-checkbox > span:after{content:'';position:absolute;display:none;top:50%;left:50%;margin-left:-2px;margin-top:-6px;width:5px;height:10px;border-width:0 2px 2px 0 !important;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.rm-checkbox > span:after{border:solid #bfc7d7;}
.rm-checkbox > input:checked ~ span:after{display:block;}
#before-content-div, .header{position:inherit;}
#before-content-div.login_form{position:absolute;}
.footer{padding:1rem 0;background-color:#ffff;color:#6f7286;border-top:1px solid rgba(0, 0, 0, 0.1);}
.profile_option{margin:0;}
/* .modules_list{padding:80px 0;} */
.modules_list a{display:inline-block;}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{float:left;}
.modules_list{clear:both;}
.logo.col-sm-6 h1{font-size:24px;text-transform:uppercase;
font-weight:500;color: #434349;margin:5px 0;}
.profile_option.dropdown .btn-primary, .profile_option.dropdown .btn-primary:hover, .profile_option.dropdown .btn-primary:focus{border:none;padding:0;background:none;border-radius:0;color:#434349;font-size:13px;box-shadow:none;outline:none;}
.footer{/* position:fixed;bottom:0;left:0; */height:auto;}
.profile_option.dropdown .btn-primary img{margin-right:5px;}
.profile_option.dropdown .btn-primary img, .module_div{border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
.profile_option.dropdown .dropdown-toggle:after{display:inline-block;margin-left:.3em;
vertical-align:.15em;content:"";border-top:.35em solid;border-right:.35em solid transparent;border-bottom:0;border-left:.35em solid transparent;}
.module_div{border:none;background:#fff;width:175px;height:175px;padding:0;-webkit-box-shadow:0px 0px 13px 0px rgba(82, 63, 105, 0.05);box-shadow:0px 0px 13px 0px rgba(82, 63, 105, 0.05);transition:all .3s ease 0s;}
.module_div .module_div_inner{display:table;width:100%;height:100%;}
.module_div .module_div_inner .module_div_info{display:table-cell;vertical-align:middle;}
.module_div .module_div_inner .module_div_info h3{margin:10px 0 0;font-size:14px;font-weight:300;color:#434349;}
.module_div .module_div_inner .module_div_info h3:hover, .modules_list a:hover .module_div h3, .modules_list a:focus .module_div h3{color:#3d94fb;}
.modules_list a:hover .module_div, .modules_list a:focus .module_div{box-shadow:0 10px 40px rgba(0,0,0,0.1);-webkit-box-shadow:0 10px 40px rgba(0,0,0,0.1);}
.dropdown-menu{right:0 !important;left:inherit !important;transform:translate3d(0px, 40px, 0px) !important;}
.profile_option .dropdown-menu{box-shadow:0px 0px 50px 0px rgba(82, 63, 105, 0.15);-webkit-box-shadow:0px 0px 50px 0px rgba(82, 63, 105, 0.15);border:none;padding:1rem 0;margin:0;min-width:14rem;}
.profile_option .dropdown-item{font-weight:500;font-size:13px;color:#595d6e;padding:0.75rem 1.5rem;}
.profile_option .dropdown-item svg{margin-right:10px;color:#a2a5b9;font-size:14px;}
.profile_option .dropdown-item:hover, .profile_option .dropdown-item:focus, .profile_option .dropdown-item:hover svg, .profile_option .dropdown-item:focus svg{color:#3d94fb;}
.menu-switch, .home-switch{font-size:18px;padding:0;margin-bottom:6.5px;margin-top:6.5px;}
.menu-switch, .home-switch{color:#434349;}
.menu-switch{margin-right:10px;}
.home-switch{margin-left:10px;}
.header_buttons, .tablelist_inner, .uform_inner, .uform_inner form{float:left;width:100%;}
.tablelist_inner, .uform_inner{background:#fff;padding:20px;}
.button-wrapper{margin:0 0 15px;}
.table td, .table th{padding:8px;}
.table td, .table th, .table thead th{border-color:#e3ebf3;}
.table, table{margin-bottom:0;}
.header_buttons{border-bottom:1px solid #e3ebf3;padding:0 0 20px;margin:0 0 20px;}
.tablelist .header_buttons{border:none;padding:0;position:relative;}
.table-striped tbody tr:nth-of-type(2n+1){background:none;}
.header_buttons .header_title{float:left;}
.header_buttons .header_title h2{margin:5px 0;font-size:20px;font-weight:normal;}
.header_buttons .button-wrapper{float:right;margin:0;}
.header_buttons .button-wrapper .btn, .save_back_button .btn, .modal .btn{font-size:13px;border-radius:0;padding:5px 42.5px 5px 12.5px;position:relative;border:none;box-shadow:none;}
 .uform .form-group .btn{font-size:13px;padding:5px 12.5px;}
.module-title,  .uform .form-group label,  .uform .form-group:last-child{margin-bottom:0;}
.header_buttons .button-wrapper .btn svg, .save_back_button .btn svg, .modal .btn svg{vertical-align:inherit;position:absolute;right:0;top:0;height:100%;background:rgba(0,0,0,.2);padding:0 10px;width:30px;}
 .uform .form-group{padding:0;}
 .uform .form-group label.d-inline-block{padding:7px 0;}
 .uform .form-group label.invalid-feedback.d-inline-block{padding:0;margin:0;}
 .uform .form-group .form-control{background:rgba(235, 237, 242, 0.4);font-size:13px;max-width:220px;}
.uform_inner{position:relative;}
.save_back_button{position:absolute;right:0;top:20px;width:auto;}
.uform_inner .nav-tabs .nav-link{background:#ffffff;border-color:rgba(0, 0, 0, 0);border-radius:0;border-style:solid;border-width:4px 1px 1px;color:#555555;margin-top:0;margin-right:5px;}
.uform_inner .nav-tabs .nav-item.show .nav-link, .uform_inner .nav-tabs .nav-link.active, .uform_inner .nav-tabs .nav-link:focus, .uform_inner .nav-tabs .nav-link:hover{border-color:#3d94fb;border-bottom:1px solid #ffffff;border-left:1px solid #e3ebf3;border-right:1px solid #e3ebf3;margin-bottom:-1px;position:relative;padding-bottom:8.5px;}
.uform_inner .nav-tabs{border-bottom:none;}
.uform_inner .tab-content{border:1px solid #e3ebf3;padding:1.5rem 1rem;display:inline-block;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;}
.uform_inner .tab-content label.d-block, .dheading h3{background:rgba(235, 237, 242, 0.4);border-left:4px solid #3d94fb;padding:7.5px 10px;}
.attachment{padding:0;}
.attachment .input-group, .attachment .list-grid-view{padding:0;}
.attachment .input-group .input-group-text{font-size:13px;}
.uform_inner .nav-tabs .nav-item{margin-bottom:0;padding:7.5px 15px;}
.uform_inner .nav-tabs{clear:both;}
.hrline{clear:both;display:inline-block;width:100%;}
.dheading h3{margin:0 0 20px;font-size:18px;font-weight:normal;}
span.tgline{display:inline-block;padding-left:3px;font-size:12px;padding-top:7.5px;}
 .uform .form-group .form-control.file{height:auto;margin-top:10px;}
.select-group{
  margin-left:50px;
  width:180px;
}
.label_by{
  padding-left: 0;
}
.uform_inner .nav-tabs .nav-link{position:relative;cursor:pointer;}
.uform_inner .nav-tabs .nav-link input[type="radio"]{opacity:0;visibility:hidden;position:absolute;top:12px;left:0;}
.uform_inner .nav-tabs select.usertype{height:25px;margin:7.5px 0;}

.breadcrumb a+a:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}


.totalPrice{
    text-align: right;
}
.totalPrice label {
    padding-right: 5px;
}
.totalPrice strong {
    font-weight: bold;
}
.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.header_buttons .button-wrapper .search-form .btn{padding:5px 15px;}
.header_buttons .button-wrapper .search-form .form-control{height:auto;line-height:normal;padding:1.5px 10px;max-width:220px;}
.header_buttons .button-wrapper .header_search{display:inline-block;padding-right:5px;vertical-align:middle;}
.header_buttons .button-wrapper .header_search input{border:1px solid #e3ebf3;padding:4px 10px;}
.filter-box{position: absolute;top:30px;width:100%;left:0;background:#f9f9f9;padding:10px;}
.filter-box .form-group.form-group-buttons{margin:0;}
.float-left.filter .btn{cursor:pointer;}
table.log-table tr th .form-control {
  max-width:210px;
  font-size: 12px;
}
table.log-table tr td .form-control {
  max-width:100px;
  font-size: 12px;
}
table.log-table tr td  {
  font-size: 12px;
}

.Btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #007bff;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border-color: #007bff;
  transition: color
}

/* 14-11 src style.css*/
.header{
  width:100%;
  transition: 0.5s;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
 position:fixed;
  top:0;
  z-index: 99;
  display:inline-block;
  background:#fff;
  height:auto;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  padding:15px 0;
  left:0;
}
.wrapper.max-sidebar .header.header-sidebar{
  padding-left: 250px;
}
.wrapper.min-sidebar .header.header-sidebar{
  padding-left: 50px;
}

.menu-switch{
  padding:0;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  text-align:left;
  cursor:pointer;
}
.home-switch{
  padding:0;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  text-align:left;
  cursor:pointer;
}
.login,.logout,.profile_option{
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  cursor:pointer;
  float:right;
}
.login,.logout{margin:5px;}

.menu-icon {
  width:15px;
  height:15px;
  transition: 0.3s;
  text-align:left;
}
.footer{
  height:50px;
  width: 100%;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  text-align:center;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
}
  
.module_div{
  display:inline-block;
  text-align:center;
  margin:20px 25px;
}
.modules_list{
  text-align:center;
  padding-left:15px;
  padding-right:15px;
}
.profile_options ul,li{
  list-style: none;
}

.wrapper{
  overflow-x: hidden;
  transition: 0.5s;
  width:100%;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
}
.wrapper.max-sidebar{
  padding-left: 250px;
}

.wrapper.min-sidebar{
  padding-left: 50px;
} 

/* Charts Css */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke-width: 3px;
}

.axis.x {
  stroke:grey;
  stroke-width:0;
}
.chart{
  background: #fff;
  height:auto;
}
.grid {
  stroke:grey;
}
.grid line {stroke: lightgrey;stroke-opacity: 0.7;shape-rendering: crispEdges;}
.grid path {stroke-width: 0;}
.msg-box{
  margin-left: 10%;
}
.engine-graph{
  display:inline-block;  
}
.deck-graph{
  display:inline-block;
  margin-top: 50px;
}
/* End Chart Css*/
.wrapper.-home .content{
	display:table;
}
.wrapper.home .content .modules_list{display:table-cell;vertical-align:middle;}
.wrapper .content{padding:121px 0 50px;}
.wrapper.login .content, .wrapper.login .content .container{padding:0;}
.menu-list, .submenu .submenu-list{margin:0;padding:0;}
.submenu .submenu-list li a{padding-left:0;}
.sidebar a div{padding-bottom:10px;}
.sidebar a div .submenu-button{float:right;}
.react-datepicker-wrapper, .react-datepicker__input-container{float:left;}
.modal-body .form-group, .modal-body .form-group label{margin-bottom:0;}
.modal-body .form-group .form-control{width:100%;background:#162029;}
.modal-content{border:none;border-radius:0;background:#1D2B36;box-shadow:0 0 10px rgba(0,0,0,0.4);color:#fff;padding:0;}
.modal-header, .modal-footer{background:#162029;}
.modal-header, .modal-footer, .modal-body .form-group .form-control, .table tr .po-inner-table, .no-border tr td, .table tr td.no-padding{border:none;}
.modal-header .close{color:#fff;opacity:0.6;}
.modal-title{line-height:1;}
.modal-body .row.col-sm-12, .no-border tr td, .modal-header .close, .table tr td.no-padding{padding:0;}
.modal-body .row.col-sm-12, .modal-header .close{margin:0;}
.modal-body .col-sm-9.col-form-label{padding-right:0;}
.modal-body .col-sm-3.col-form-label, .modal-body .col-sm-9.col-form-label{padding-left:0;}
.modal-body .col-form-label.error{color:#dc3545;}
.modal-body .form-group.text-right{display:initial;}
.btn, .table tr .po-arrow svg{cursor:pointer;}
.table tr .po-inner-table, .dr_inner, .data-lebel-2{padding:15px;}
.table tr .po-inner-table, .data-lebel-2{background:#f9f9f9;}
.uform .form-group-action span{padding-right:3px;}
.uform .form-group-action .form-control{max-width:40px;display:inline-block;padding:0;text-align:center;}
.uform .form-group .form-control.form-control-number{max-width:70px;}
.modal-body .table{color:#fff;}
.tabs.resources .tab-content{padding:15px;border-color:#e3ebf3;border-style:solid;border-width:0 1px 1px 1px;}
.prev_next .prev_button{padding-left:0;}
.prev_next .next_button{padding-right:0;}
.cat_button.save_back_button{position:inherit;}
.cat_button.save_back_button .ml-2{margin:0 0 10px !important;}
.table thead th.valign-middle{vertical-align:middle;}
.dr_inner{border:1px solid #e3ebf3;}
.dr_inner .title-lebel-0{font-size:15px;font-weight:600;}
.dr_inner .title-lebel-1{font-size:14px;font-weight:500;}
.dr_inner, .dr_inner .title-lebel-0, .dr_inner .title-lebel-1, .data-lebel-2{display:inline-block;width:100%;}
.dr_inner, .dr_inner .title-lebel-0, .dr_inner .title-lebel-1, .data-lebel-2{margin:5px 0;}
.input-group.log-group .input-group-text{padding-top:0;padding-bottom:0;}
.button-wrapper .date-picker .form-control{border-radius:0;height:29.5px;max-width:220px;}
.button-wrapper .date-picker .btn{padding:5px 12.5px 5px 12.5px;}
.header_buttons .button-wrapper .date-picker .btn svg{position:inherit;background:none;}

.auto-scroll{ overflow: "auto"; display: "inline-block"; width: "100%" }
.h-scroll{ overflow: "x"; display: "inline-block"; width: "100%" }
.v-scroll{ overflow: "y"; display: "inline-block"; width: "100%" }
